<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

### In this notebook, Data Science tools and Ecosystems are summarized

#### Some of the Data Science Languages that Data Scientists Use

1. **R** 
2. **Python** 
3. **Java**
4. **SQL**
5. **Scala**
6. **C++**

#### Common Data Science Libraries 

- **Pandas** – For data manipulation and analysis  
- **NumPy** – For numerical computing and array operations  
- **Matplotlib** – For data visualization through plots and charts
- **Seaborn**
- **Keras**


| <h2>Data Science Tools</h2> |
|-------------------|
| <h4>Jupyter Notebook </h4>| 
| <h4>RStudio           </h4>| 
| <h4>Tableau          </h4> | 
| <h4>Apache Spark     </h4> | 
| <h4>Excel            </h4> |

#### Below are few examples of Arithmetic Operations in Python

In [13]:
# Addition
5 + 3

8

In [11]:
# Multiplication
5 * 3

15

In [22]:
# Converting minutes to hour
minutes = 200
hours = minutes / 60

print(f"{hours}")

3.3333333333333335

### Objectives :
- Understand the basics of data science and its tools 
- Learn to write and execute Python code in Jupyter Notebook  
- Perform basic arithmetic and data manipulation  
- Visualize and interpret data using appropriate libraries  
- Apply programming skills to solve real-world problems

#### Auther 

Mahmudul Hasan <br>
Affiliation: Department of Economics, Texas Tech University